body{
    background-color: black;
    color: gray;
}
#header{
    color: white;
    height: 250px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
a:hover, a:focus {
    color: white;
    text-decoration: underline;
}
a {
    color: black;
    text-decoration: none;

}
#section{
    height: 800px;
}
#para1{
    padding-left: 170px;
}
#para2{
    padding-left: 190px;
    display: inline-block;
    float: left;
}
#nav{
    opacity: .6;
    color: black;
    font-size: 20px;
    display: inline-block;
    float: left;
    margin-left: 550px;

}
#line{
    background-color: gray;
    height:1px;
    width: 1000px;
    margin-top: 70px;
    margin-left: 190px;
}
#sec{
    background-image: url("http://media-cache-ec0.pinimg.com/736x/ff/02/0d/ff020d7fffde38af8addf4b72509bf88.jpg");
    height: 200px;
    font-size: 150px;
    opacity: .8;
    text-align: center;
    color: white;
}
.circular {
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url("http://www.hiphopdx.com//images/news/1-1-2-JCole_304.jpg") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    color: black;
}
#div2{
    width: 400px;
    display: inline-block;
    float: left;
    margin: 20px 20px 20px 100px;
}

.post{
    background-color: gray;
    opacity: .5;
    color: white;
    display: inline-block;
    float: left;
    width: 600px;
    margin-left: 90px;
    margin-top: 50px;
}
#carousel-example-generic{
    width: 600px;
    height: 600px;
    margin: 60px 100px 100px 100px;
    display: inline-block;
    float: left;
}
//*changes the backgorund color to lime when seen on a 320px wide screen *//
@media (max-width: 320px) {
    body{
        background-color: lime;
    }
}
/*styling for element with class readmore-js-toggle and readmore-js-section*/
.readmore-js-toggle, .readmore-js-section {
  display: block;
  width: 100%;
  color: black;
}
.readmore-js-section {
  overflow: hidden;
  color: black;
}

#foot{
    float: right;
    padding-top: 550px;
    padding-bottom: 10px;
}
